
.barra{
    height: 40px;
    border-radius:  60px;
    width: 80%;
    margin-right: -35px;
    outline: none;
    border: 1px solid darkgreen ;
    background: white;
}
.barra2{
    height: 40px;
    width: 40%;
    outline: none;
    border: 1px solid  darkgreen;
    background:#01A670;
    color: white;
    border-radius: 60px;
    font-weight: 700;

}

.navbar-brand{
    font-family: 'Anton', sans-serif;
}

.nav-item{
    margin-left: 50px;
}
.dropdown-toggle {
    margin-left: -50px;
}


.main h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: "robot";
    margin-right: 80px;
}
.main h2{
    font-size: 2rem;
    font-weight: 500;
    font-family: Arial;
    margin-right: 80px;
}
.Lendit {
    height: 45px;
    width: 35%;
    border: none;
    background:#01A670;
    color: white;
    outline: none;
    border-radius: 60px;
    margin-right: 80px;
}
.main{
    background: url("sfondo.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

 .product h2 {
     font-family: Anton;
     bottom: 30px;
}

 .btn5{
     height: 40px;
     width: 35%;
     border: none;
     background:#01A670;
     color: white;
     outline: none;
     border-radius: 60px;

 }

 .card:hover{
     -webkit-box-shadow: 1px 1px 15px 3px #000000;
     box-shadow: 1px 1px 15px 3px #000000;
     transition: 0.5s;
 }

.product{
    position: relative;
    top: 150px;
 }

.googlemaps{

    top: 400px;
    width: 100%;
    border-radius: 50px;
    border: 10px   black;
}
.map h2,h3{
    color: black;
}

.mappa {
    position: relative;
    top: 200px;
}