{% extends 'base.html' %}
{% block title %}
  Annunci
{% endblock %}

{% block content %}


<table class="content-table table-hover table-light">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Titolo articolo</th>
            <th scope="col">Provincia</th>
            <th scope="col">Cauzione</th>
            <th scope="col">Prezzo P/G</th>
            <th scope="col">Descrizione</th>
        </tr>
    </thead>
    <tbody>
      {% for item in items %}
      {% include 'includes/items_modals.html' %}
          <tr>
                <td>{{ item.name }}</td>
                 <td>{{ item.provincia }}</td>
                 <td>{{ item.cauzione}}€</td>
                 <td>{{ item.price }}€</td>
                 <td>
                     <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">Più info</button>
                     <button class="btn btn-outline btn-success"> Contatti</button>

                 </td>
          </tr>
      {% endfor %}
    </tbody>
</table>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
     .content-table{
        border-collapse: collapse ;
        margin: 25px 0;
        font-size: 1em;
        min-width: 400px;
        width: 90%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
        margin-left: 35px;
        margin-right: 35px;
    }

    .content-table thead tr{
        background-color: #01A670;
        color: black;
        text-align: left;
        font-weight: bold;
    }
    .content-table th,
    .content-table td{
        padding: 12px 15px;
    }
    .content-table tbody tr {
          border-bottom: 1px solid lightgrey;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .content-table tbody tr:last-of-type {
       border-bottom: 2px solid #01A670;
    }
    </style>
{% endblock %}