{% extends 'base.html' %}
{% block title %}
  Annunci
{% endblock %}

{% block content %}


<table class="content-table table-hover table-light">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Titolo articolo</th>
            <th scope="col">Provincia</th>
            <th scope="col">Cauzione</th>
            <th scope="col">Prezzo P/G</th>
            <th scope="col">Opzioni</th>
        </tr>
    </thead>
    <tbody>
      {% for item in items %}
      {% include 'includes/items_modals.html' %}
          <tr>
                <td>{{ item.name }}</td>
                 <td>{{ item.provincia }}</td>
                 <td>{{ item.cauzione}}€</td>
                 <td>{{ item.price }}€</td>
                 <td>
                     <button class="btn btn-outline btn-info" data-toggle="Modal" data-target="#exampleModal">Più info</button>
                     <button class="btn btn-outline btn-success"> Contatti</button>
                 </td>
          </tr>
      {% endfor %}
    </tbody>
</table>
    <style>
     .content-table{
        border-collapse: collapse ;
        margin: 25px 0;
        font-size: 1em;
        min-width: 400px;
        width: 90%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
        margin-left: 35px;
        margin-right: 35px;
    }

    .content-table thead tr{
        background-color: #01A670;
        color: black;
        text-align: left;
        font-weight: bold;
    }
    .content-table th,
    .content-table td{
        padding: 12px 15px;
    }
    .content-table tbody tr {
          border-bottom: 1px solid lightgrey;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .content-table tbody tr:last-of-type {
       border-bottom: 2px solid #01A670;
    }
    </style>
{% endblock %}