{% extends 'base.html' %}

{% block title %}
   Lend it!-Home Page
{% endblock %}

{% block content %}

<section class="main">
  <div class="container py-5">
  <div class="row py-4">
 <div class="col-lg-7 pt-5 text-center">
   <h1 style="color: black;">Hai oggetti in casa che non utilizzi più?</h1>
   <h2>Inserisci un annuncio ed inizia a guadagnare adesso!</h2>
   <a href="inserisciannunci.html"> <button class="Lendit mt-3" >LEND IT!</button></a>
 </div>
  </div>
  </div>
</section>

<section class="product">
<div class="container">
  <div class="row">
    <div class="col-lg-5 m-auto text-center">
      <h2 >Annunci</h2>
    </div>

  </div>
  <div class="row">
  <div class="col-lg-3 text-center">
    <div class="card border-0 bg-light mb-2">
      <div class="card-body">
        <img src="{{url_for('static', filename='canon.jpg')}}" class="img-fluid" alt="">
      </div>
    </div>
    <h6>Macchina Fotografica</h6>
    <p style="color: #01A670"> €10,00 P/G</p>
  </div>

    <div class="col-lg-3 text-center">
      <div class="card border-0 bg-light mb-2">
        <div class="card-body">
          <img src="{{url_for('static', filename='librus.jpg')}}" class="img-fluid" alt="">
        </div>
      </div>
      <h6>Libro</h6>
      <p style="color: #01A670"> €0,50P/G</p>
    </div>

    <div class="col-lg-3 text-center">
      <div class="card border-0 bg-light mb-2">
        <div class="card-body">
          <img src="{{url_for('static', filename='light.png')}}" class="img-fluid" alt="">
        </div>
      </div>
      <h6>Light box</h6>
      <p style="color: #01A670"> €5,00 P/G</p>
    </div>

    <div class="col-lg-3 text-center">
      <div class="card border-0 bg-light mb-2">
        <div class="card-body">
          <img src="{{url_for('static', filename='sci.jpg')}}" class="img-fluid" alt="">
        </div>
      </div>
      <h6>Sci</h6>
      <p style="color: #01A670"> €15,00 P/G</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 text-center m-auto">
     <a href="{{ url_for('annunci_page') }}"> <button class="btn5">Vai agli Annunci</button> </a>
    </div>
  </div>
</div>
</section>

<section class="mappa" >
  <div class="map py-5">
    <div class="row py-4">
      <div class="col-lg-7 pt-5 m-auto text-center">
  <h2>Dove siamo?</h2>
  <h3>Ci trovate al centro direzionale di Napoli!</h3>
      </div>
    </div>
  </div>
  <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.683753925197!2d14.282150515409418!3d40.85686657931635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b081b0e8aa9b5%3A0x8903611ab0cc3fbc!2sUniversit%C3%A0%20Degli%20Studi%20Di%20Napoli%20%22Parthenope%22!5e0!3m2!1sit!2sit!4v1638974365277!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
    <style>
    .barra{
    height: 40px;
    border-radius:  60px;
    width: 80%;
    margin-right: -35px;
    outline: none;
    border: 1px solid darkgreen ;
    background: white;
}
.barra2{
    height: 40px;
    width: 40%;
    outline: none;
    border: 1px solid  darkgreen;
    background:#01A670;
    color: white;
    border-radius: 60px;
    font-weight: 700;

}

.navbar-brand{

}

.nav-item{
    margin-left: 50px;
}
.dropdown-toggle {
    margin-left: -50px;
}


.main h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: "robot";
    margin-right: 80px;
}
.main h2{
    font-size: 2rem;
    font-weight: 500;
    font-family: Arial;
    margin-right: 80px;
}
.Lendit {
    height: 45px;
    width: 35%;
    border: none;
    background:#01A670;
    color: white;
    outline: none;
    border-radius: 60px;
    margin-right: 80px;
}
.main{
    background: url("{{url_for('static', filename='sfondo.jpg')}}") no-repeat;
    background-size: cover;
    height: 60vh;
}

 .product h2 {
     font-family: Anton;
     bottom: 30px;
}

 .btn5{
     height: 40px;
     width: 35%;
     border: none;
     background:#01A670;
     color: white;
     outline: none;
     border-radius: 60px;

 }

 .card:hover{
     -webkit-box-shadow: 1px 1px 15px 3px #000000;
     box-shadow: 1px 1px 15px 3px #000000;
     transition: 0.5s;
 }

.product{
    position: relative;
    top: 150px;
 }

.googlemaps{

    top: 400px;
    width: 100%;
    border-radius: 50px;
    border: 10px   black;
}
.map h2,h3{
    color: black;
}

.mappa {
    position: relative;
    top: 200px;
}



</style>
{% endblock %}
